/* ==UserStyle==
@name           Anitweaks
@namespace      gitlab.com/wolfiy/anitweaks
@version        0.0.3
@description    A collection of tweaks for the Anilist website.
@author         wolfiy (https://linktree.wolfiy.ch)
@homepageURL    https://gitlab.com/wolfiy/anitweaks/
@supportURL     https://gitlab.com/wolfiy/anitweaks/-/issues
@updateURL      https://gitlab.com/wolfiy/anitweaks/-/raw/master/anitweaks.user.css
@license        GPL-3.0
@preprocessor   stylus
@var  range visualSeparator "VISUAL TWEAKS" 100
@var  checkbox  bannerShadowEnable "Remove banner shadow" 0
@var  checkbox  compactMode "Enable compact mode [WIP]" 0
@var  checkbox  largerContent  "Allows anilist to render on smaller screens the same way it would on bigger ones [WIP]" 0
@var  text  hueRotate "Rotate the logo's hue. Use a number between 0 and 360 followed by the word \"deg\" (such as 90deg)" 0deg
@var  range socialSeparator "SOCIAL TWEAKS" 100
@var  checkbox  hideLikeCount "Remove like count" 0
@var  checkbox  homeActivityDisable  "Remove all activities from the homepage"  0
@var  checkbox  allActivityDisable  "Remove all activities from all pages"  0
@var  checkbox  hideMangaListActivity "Hide all manga activities" 0
@var  checkbox  hideAnimeListActivity "Hide all anime activities" 0
@var  checkbox  hideStatusActivity "Hide all status activities" 0
==/UserStyle== */


@-moz-document domain("anilist.co") {
  /**
   * Toggles the shadow found on banners.
   */
  if bannerShadowEnable {
    .banner .shadow {
      display: none;
    }
  }

  /**
   * Compact mode
   */
  if compactMode {
    .activity-entry {
      margin-bottom: 10px !important;

      .list {
        min-height: 55px;
      }

      .time {
        top: 6px !important;
      }

      .details {
        padding: 8px 10px !important;

        .donator-badge {
          top: 6px !important;
        }

        .avatar {
          display: none !important;
        }
      }

      .actions {
        bottom: 6px !important;
        font-size: 1.2rem;
      }
    }
  }

  /**
   * Hide like counts.
   */
  if hideLikeCount {
    .button > .count {
      display: none !important;  
    }
  }

  /**
   * Hide all activites.
   */
  if allActivityDisable {
    .activity-feed,
    .load-more,
    .feed-select {
      display: none !important;  
    }
  }

  /**
   * Change the AL logo's hue.
   */
  .logo img[data-v-62eacfff],
  .logo {
    filter: hue-rotate(hueRotate) !important;
  }

  /**
   * Hide specific types of activities
   */
  if hideMangaListActivity {
    .activity-manga_list {
      display: none !important;  
    }
  }
  if hideAnimeListActivity {
    .activity-anime_list {
      display: none !important;  
    }
  }
  if hideStatusActivity {
    .activity-text {
      display: none !important;  
    }
  }

  /**
   * Simulate larger screen
   */
   /*
  if largerContent {
    @media (min-width: 1040px) and (max-width: 1540px) {
      .container {
        max-width: 1520px;
      }

      .section {
        max-width: 554px;
      }

      .favourites.preview {
        padding: 20px;
        padding-bottom: 4px;
        padding-right: 0;
        margin-bottom: 25px;
      }
    }
  }
  */
}

@-moz-document url-prefix("https://anilist.co/home") {
  /**
   * Hide all activites on the home page
   */
  if homeActivityDisable {
    .activity-feed,
    .load-more,
    .feed-select {
      display: none !important;  
    }
  }
}